{{- /*gotype: github.com/SimonSchneider/chore-tracker/chore.ChoreListView*/ -}}
<!DOCTYPE html>
<html lang="en">
{{ template "head.gohtml" "Chores" }}
<body>
{{ template "chore_list.gohtml" . }}
</body>
</html>
