{{- /*gotype: github.com/SimonSchneider/chore-tracker/internal/chore.ChoreListsView*/ -}}
<!DOCTYPE html>
<html lang="en">
{{ template "head.gohtml" "Chores Invite" }}
<body>
{{ template "chore_lists.gohtml" .}}
</body>
</html>
