<div>
    <form action="/chore-list/new" method="post">
        <label for="choreListName">Chore List</label>
        <input name="name" id="choreListName" type="text" required>
        <button type="submit">Create Chore List</button>
    </form>
</div>
