{{- /*gotype: github.com/SimonSchneider/chore-tracker/internal/chore.ChoreListsView*/ -}}
<div>
    <ul>
        {{ range .ChoreLists }}
            <li>
                <a href="/chore-lists/{{ .ID }}">{{ .Name }}</a>
            </li>
        {{ end }}
    </ul>
</div>
