{{- /*gotype: github.com/SimonSchneider/chore-tracker/internal/chore.ChoreListsView*/ -}}
<!DOCTYPE html>
<html lang="en">
{{ template "head.gohtml" "Chores Invite" }}
<body>
<header>
    {{ template "chore_lists.nav_header.gohtml" }}
</header>
<main>
    {{ template "chore_lists.gohtml" .}}
</main>
</body>
</html>
