{{- /*gotype: github.com/SimonSchneider/chore-tracker/internal/chore.ChoreListsView*/ -}}
<!DOCTYPE html>
<html lang="en">
{{ template "head.gohtml" "Chores" }}
<body>
{{ template "chore_lists.body.gohtml" . }}
</body>
</html>
