<nav class="nav">
    <ul class="nav-left">
        <li>
            <a href="/settings" class="icon-button">
                <img alt="settings" src="/static/public/icons/settings.svg"/>
            </a>
        </li>
    </ul>
    <h1>Lists</h1>
    <ul class="nav-right">
        <li>
            <a href="/chore-list/new" class="icon-button">
                <img alt="create chore list" src="/static/public/icons/plus.svg"/>
            </a>
        </li>
    </ul>
</nav>
