{{- /*gotype: github.com/SimonSchneider/chore-tracker/chore.FrontPage*/ -}}
<!DOCTYPE html>
<html lang="en">
{{ template "head.gohtml" "Chores" }}
<body>
<header>
    {{ template "chores.nav_header.gohtml" }}
</header>
<main>
    {{ template "chore-list.gohtml" .Chores }}
</main>
</body>
</html>
