{{- /*gotype: github.com/SimonSchneider/chore-tracker/internal/chore.InviteView*/ -}}
<div>
    Share the current link with whomever you want to invite.

    <button onclick="navigator.clipboard.writeText(window.location.href)">
        Copy to clipboard
    </button>
</div>
