{{- /*gotype: github.com/SimonSchneider/chore-tracker/internal/chore.InviteUseView*/ -}}
<!DOCTYPE html>
<html lang="en">
{{ template "head.gohtml" "Chores Invite" }}
<body>
{{ template "invite_accept.gohtml" .}}
</body>
</html>
