{{- /*gotype: github.com/SimonSchneider/chore-tracker/internal/chore.InviteUseView*/ -}}
<!DOCTYPE html>
<html lang="en">
<head>
{{ template "head.gohtml" "Chores Invite" }}
</head>
<body>
{{ template "invite_accept.gohtml" .}}
</body>
</html>
