<!DOCTYPE html>
<html lang="en">
{{ template "head.gohtml" "Chores Settings" }}
<body>
<main>
    Hello, please login
    <form
            action="/sessions/"
            method="post"
    >
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password"><br><br>
        <label for="rememberMe">Remember me</label>
        <input type="checkbox" id="rememberMe" name="rememberMe">
        <input type="submit" value="Submit">
    </form>
</main>
</body>
</html>