<!DOCTYPE html>
<html lang="en">
{{ template "head.gohtml" "Chores" }}
<body>
<header>
    <nav class="nav">
        <ul class="nav-left"></ul>
        <h1>Chores</h1>
        <ul class="nav-right"></ul>
    </nav>
</header>

<main>
    <form
            action="/sessions/"
            method="post"
            class="login-form"
    >
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <label for="rememberMe">Remember me</label>
        <input type="checkbox" id="rememberMe" name="rememberMe">
        <button type="submit" class="button">Login</button>
    </form>
</main>
</body>
</html>