<nav class="nav">
    <ul class="nav-left"></ul>
    <h1>Chores</h1>
    <ul class="nav-right">
        <li>
            <button class="icon-button" hx-get="/new" hx-target="body" hx-swap="beforeend">
                <img alt="create chore" src="/static/public/icons/plus.svg"/>
            </button>
        </li>
    </ul>
</nav>
