<nav class="nav">
    <ul class="nav-left">
        <li>
        </li>
    </ul>
    <h1>Settings</h1>
    <ul class="nav-right">
        <li>
            <form method="post" action="/logout">
                <button type="submit" class="icon-button adorned-button">
                    <img alt="logout" src="/static/public/icons/logout.svg"/>
                    Logout
                </button>
            </form>
        </li>
    </ul>
</nav>
