{{- /*gotype: github.com/SimonSchneider/chore-tracker/internal/chore.SettingsView*/ -}}
<!DOCTYPE html>
<html lang="en">
{{ template "head.gohtml" "Chores Settings" }}
<body>
{{ template "settings.gohtml" .}}
</body>
</html>
