{{- /*gotype: github.com/SimonSchneider/chore-tracker/internal/chore.SettingsView*/ -}}
<!DOCTYPE html>
<html lang="en">
<head>
{{ template "head.gohtml" "Chores Settings" }}
</head>
<body>
<header>
    {{ template "settings.nav_header.gohtml" . }}
</header>
<main>
    {{ template "settings.gohtml" . }}
</main>
</body>
</html>
